main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 250px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif
  font-weight: bold;
  color: black;
   }

body {
  background-color:gray
}


.reactCard {
  margin-bottom: 100px;
  padding: 1px;
  height: 550px;
  margin-bottom: 20px;
}

.reactCard:hover {
  transform: scale(1.01,1.01);
  box-shadow: 0 0 50px black;
}

.reactButton {
  position: absolute;
  bottom: 5%;
}